body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.min-vh-100 {
    min-height: 100vh;
}

.box {
    border-radius: 12px;
    padding: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

hr {
    border: none;
    height: 1px;
    background-color: #444;
}

.button.is-warning.is-outlined {
    border-color: #ffcc00;
    color: #ffcc00;
}

.button.is-warning.is-outlined:hover {
    background-color: #ffcc00;
    color: #1f1f1f;
}
